modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]
publicDir = "dist/public"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
R2_ACCOUNT_ID = "a3b6158262a263b0fe4c455f139b6dd8"
R2_BUCKET_NAME = "ctrxl48"
SUPABASE_DATABASE_URL = "postgresql://postgres.raubxlahhnvsvqcnhtym:HendraWahyu@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres"
R2_PUBLIC_URL = "https://img.ctrxl.id"
SMTP_USER = "notif@ctrxl.id"
SMTP_FROM = "notif@ctrxl.id"
